main {

  .section-title {    position: relative;
    font-size: $h2-font-size;
    color: $second-color;
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    text-align: center;}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 3rem;
    background-color: $first-color;
}
}

    @media screen and (max-width: 768px) {
        body{
            margin: 0;
          main {
            .section-2{
              padding-top: 4rem;
              padding-bottom: 3rem;
            }
            .section-title{
              margin-bottom: $mb-6;
              width: 100%;
            }
            .section-title::after{
              width: 80px;
              top: 3rem;
            }
          }

    }}


main {
  section{
    article.item h3 {
      color: $first-color;
    }}}