

/*===== estructura grid =====*/



/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
 /*  align-self: center; */
 padding-bottom: 300px;
}
@media only screen and (max-width: 767px) {
  .home__data{
    /*  align-self: center; */
margin-top:200px;
padding-top: 0px;
   }  
}


/* FLEX SERVICIOS */


article.item {
  box-shadow: 0 0 15px #19727833;
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  flex-direction: column;
  border-radius: 25px;
  text-align: center;
}

article.item:hover{
  box-shadow: 0 0 15px #19727810;
transform: scale(1.02);
}

section.container-1 article.item {
  width: 100%;
}
/* ===== EXPERIENCIA / HABILIDADES =====*/
.EXP-container{
  row-gap: 2rem;
  text-align: center;
}
.EXP-subtitle{
  margin-bottom: var(--mb-2);
}
.EXP-text{
  margin-bottom: var(--mb-4);
}
.EXP-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.EXP-icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.EXP-names{
  display: flex;
  align-items: center;
}
.EXP-bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.EXP-html{
  width: 95%;
}
.EXP-css{
  width: 90%;
}
.EXP-js{
  width: 100%;
}
.EXP-ux{
  width: 75%;
}
.EXP-img{
  border-radius: .5rem;
}

/* ===== TRABAJOS =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* ===== CONTACTO =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES AJUSTES=====*/


  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }


  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
